* {
  margin: 0;
  padding: 0;
  /* background-color: #331102; */
  box-sizing: border-box;
  /* overflow: hidden; */
}
.show {
  visibility: visible;
  opacity: 1;
  height: 100vh;
  transition: all ease-in-out 1.5s;
}
.hide {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all ease-in-out 1.5s;

  /* background-color: #331102; */
}
.overlay {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #331102;
  width: 100%;
}
.the {
  color: black;
}

.overlay-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.overlay-content h1 {
  color: #ff9e26;
  padding: 20px;
  /* font-family: 'Atma', cursive; */

  /* font-family: 'PT Serif', serif; */
}
.overlay-content p {
  font-size: 24px;
  color: #fff;
  padding: 15px;
  font-family: "Atma", cursive;
}
#btn {
  border: 1px solid #ff9e26;
  color: black;
  cursor: pointer;
  padding: 14px 30px;
  text-align: left;
  /* justify-content: center; */
  /* margin-left: 300px;
    margin-bottom: 100px; */
  /* margin-right: auto; */
  /* width: 40%; */
  background-color: #ff9e26;
  font-weight: 600;

  text-decoration: none;
  border-radius: 3px;
  /* transition-duration: 0.5s; */
}
#btn:hover {
  background-color: #742602;
  color: #fff;
}

.page2 {
  height: 100vh;
  background-color: #331102;
  position: relative;
}
.info-pg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 50px 50px 50px 0px;

  /* height: auto; */
  width: 80%;
  background-color: #742602;
  /* margin: 0 auto; */
  /* margin-top: 100px; */
}

.info-img {
  width: 40%;
  /* position: absolute; */
  margin-left: -70px;
}

.generate-names {
  width: 60%;
  margin-left: 50px;
}
input,
select {
  font-weight: 700;
  margin: 15px 0;
  padding: 10px 10px;
  width: 80%;
  border-radius: 4px;
  background-color: rgb(173, 171, 171);
}
label {
  padding-top: 20px;
  color: #fff;
  font-weight: 700;
  /* border: 1px solid black; */
}
.submit-btn {
  width: 50%;
  margin: 0 auto;
}
#btn1 {
  border: 1px solid #ff9e26;
  color: #ff9e26;
  cursor: pointer;
  padding: 14px 30px;
  text-align: center;
  background-color: #331102;
  /* justify-content: center; */
  /* margin-left: 300px;
    margin-bottom: 100px; */
  /* margin-right: auto; */
  /* width: 40%; */

  text-decoration: none;
  border-radius: 3px;
  /* transition-duration: 0.5s; */
}
#btn1:hover {
  background-color: #ff9e26;
  color: black;
}
.title {
  color: #ff9e26;
  /* padding: 20px; */
}
.generate-names h2 {
  margin-bottom: 10px;
  font-size: 30px;
}
.name {
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  background-color: #331102;
  margin-top: 20px;
  width: 70%;
}
.footer {
  position: absolute;
  bottom: 3%;
  /* margin-top: -40px; */

  height: 5vh;
  /* background-color: #36; */
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40%;
  /* top: 10%; */
}
.conclusion p {
  color: white;
}
.socials {
  margin-left: 50px;
}
